<div class="page-container">
  <h1 class="page-title">WishList</h1>

<!-- TODO: check how to dynamically pass app-card to cards-list  -->
<!--  <app-cards-list [products]="products"></app-cards-list>-->
  <ng-container *ngIf="(products.length); else empty_list">
    <div class="os-products-list">
      <div class="wish-card-container" *ngFor="let product of products;">
        <div class="close-btn" (click)="removeCard()">
          <i class="bi bi-x"></i>
        </div>
        <app-card [product]="product"></app-card>
      </div>
    </div>
  </ng-container>

  <ng-template #empty_list>
    There are no products in the list
  </ng-template>

  <div class="os-products-footer">
    <app-pagination [totalPages]="12"></app-pagination>
  </div>
</div>
