<div class="page-container">
  <h1 class="page-title">WishList</h1>

<!-- TODO: check how to dynamically pass app-card to cards-list  -->
<!--  <app-cards-list [products]="products"></app-cards-list>-->
  <ng-container *ngIf="wishlistProducts$ | async as products">
    <div class="os-products-list" *ngIf="products.length; else empty_list">
      <div class="wish-card-container" *ngFor="let product of getCardsListData(products); trackBy: trackByProduct">
        <div class="close-btn" (click)="removeCard(product.id)">
          <i class="bi bi-x"></i>
        </div>
        <app-card [product]="product" [showFooter]="false"></app-card>
      </div>
    </div>

    <div class="os-products-footer">
      <app-pagination
        [activePageIndex]="pageIndex"
        (pageChange)="setPage($event)"
        [totalPages]="getTotalPages(products.length)">
      </app-pagination>
    </div>
  </ng-container>
</div>

<ng-template #empty_list>
  There are no products in the list
</ng-template>
