<div class="os-container">
  <main class="os-products">
    <aside class="sidebar">
      <h2 class="sidebar__title" data-element="title">
        <a class="link-unstyled" routerLink="/">Online Store</a>
      </h2>

      <ul class="sidebar__nav" data-element="navigation">
        <li>
          <a routerLink="/"
             class="link-unstyled"
             routerLinkActive="active"
             [routerLinkActiveOptions]="{ exact: true }">
            <i class="bi bi-shop"></i><span>Products</span>
          </a>
        </li>
        <li>
          <a routerLink="/wishlist"
             class="link-unstyled"
             routerLinkActive="active">
            <i class="bi bi-star"></i>Wishlist <span>{{ (wishlistsProducts$ | async)?.length }}</span>
          </a>
        </li>
        <li>
          <a routerLink="/cart"
             class="link-unstyled"
             routerLinkActive="active">
            <i class="bi bi-cart"></i>Cart <span>{{ (cartProducts$ | async)?.length }}</span>
          </a>
        </li>
      </ul>
    </aside>

    <section>
      <!-- NOTE: Routing entry point -->
      <router-outlet></router-outlet>
    </section>
  </main>

  <app-notification-manager [stackLimit]="3"></app-notification-manager>
</div>


